html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 255, 255, 0.433);
}

body {
    margin-left: 200px;
    margin-right: 200px;
    padding: 0%;
    background-color: aliceblue;
}

header {
    text-align: center;
}

h1 {
    font-size: 4.5rem;
    color: aliceblue;
}

h2 {
    font-size: 2rem;
    line-height: 5px;
}

article {
    margin: 20px;
    line-height: 1.5rem;
}

nav {
    margin-top: 10px;
    word-spacing: 230px;
}

a {
    color: rgb(149, 52, 223);
    border-color: rgb(240, 222, 254);
}

a:link {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 10px;
    font-size: 1.5rem;
}

form {
    margin: 20px;
    line-height: 1.5rem;

}

footer {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: right;
}

.header {
    background-image: url(../images/lone-starfish-wide.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 130px 0px 130px 0px;
    margin: auto;
}