html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9fd5ce;
}

body {
    margin-left: 200px;
    margin-right: 200px;
    background-color: #ceeae7;
}

header {
    margin-top: 0%;
    text-align: center;
}

h1 {
    font-size: 4.5rem;
    font-weight: lighter;
    color: aliceblue;
}

h2 {
    font-size: 2rem;
    line-height: 5px;
    font-weight: lighter;
}

h3 {
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 0%;
}

h4 {
    font-size: 1.25rem;
    font-weight: lighter;
    line-height: 0%;
}


article {
    margin: auto;
    line-height: 1.5rem;
}

nav {
    text-align: center;
    margin-bottom: 50px;
}

.navlinks {
    display: inline-block;
}


a:link {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 1.5rem;
    display: inline-block;
    justify-content: center;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;

}

#box1,
#box2 {
    border-right: 1px solid rgb(0, 0, 0);
}



form {
    margin: auto;
    line-height: 1.5rem;
}


footer {
    padding: 15px;
    text-align: right;
}

input[type=text] {
    width: 100%;
    padding: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    padding: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 100px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

label {
    font-size: 1.05rem;
    line-height: 40px;
}

fieldset {
    border: 1px solid rgb(0, 0, 0);
}

input[type=submit] {
    background-color: #ceeae7;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 0.6rem;
    text-transform: uppercase;

}

.container {
    width: 98%;
    margin: auto;
}

.container img {
    width: 180px;
    margin: 10px;
    float: left;
}

.header {
    background-image: url(../images/lone-starfish-wide.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 130px 0px 130px 0px;
    margin: auto;
}